$w100:100%;
$h100:100%;

$w90:90%;
$h90:90%;

$w80:80%;
$h80:80%;

$w70:70%;
$h70:70%;

$w60:60%;
$h60:60%;

$w50:50%;
$h50:50%;

$w40:40%;
$h40:40%;

$w20:20%;
$h20:20%;

$w30:30%;
$h30:30%;

$w10:10%;
$h10:10%;

$w5:5%;
$h5:5%;

$hauto:auto;
$wauto:auto;

/*View-wdith & View-height*/

$vw100:100vw;
$vh100:100vh;

$vw80:80vw;
$vh80:80vh;

$vw70:70vw;
$vh70:70vh;

$vw60:60vw;
$vh60:60vh;

$vw50:50vw;
$vh50:50vh;

$vw40:0vw;
$vh40:40vh;

$vw30:30vw;
$vh30:30vh;

$vh25:25vh;
$vw25:25vw;

$vh10:10vh;
$vw10:10vw;

$vh5:5vh;
$vw5:5vw;

$vwauto:auto;
$vhauto:auto;