@use '../../../../assets/Scss/Utilities/Common/Colors'as color;

@use '../../../../assets/Scss/Utilities/Font_Properties/Fonts'as font;
@use '../../../../assets/Scss/Utilities/Font_Properties/Font_Sizes'as font_size;

@use '../../../../assets/Scss/Utilities/Width_Height/Width_Height'as width_height;

@use '../../../../assets/Scss/Utilities/Margin/Margin'as margin;
@use '../../../../assets/Scss/Utilities/Padding/Padding'as padding;

@use '../../../../assets/Scss/Utilities/Mixins/Mixins'as *;


.faqs {
    @include width_height(width_height.$w100, width_height.$vh100);
    background-color: color.$White;
    overflow-x: hidden;

    &-left {
        @include width_height(width_height.$w50, width_height.$vh100);
        background-color: color.$Inmersive_Blue_Black;
        @include padding(padding.$Padding1);

        h1 {
            @include text(font.$Montserrat, font_size.$Large, color.$White);
            @include padding(padding.$Padding1);
            text-align: center;
        }
    }

    &-right {
        @include width_height(width_height.$w50, width_height.$vh100);
        background-color: color.$White;
        background-image: url('/src/frontend/assets/images/jpg/Faqs.jpg');
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
    }

    &-bottom {
        @include width_height(width_height.$w100, width_height.$vh100);
        background-color: color.$White;
    }
}


@media only screen and (max-width: 600px) {
    .faqs-left {
        @include width_height(width_height.$w100, width_height.$vh100);
        @include padding(padding.$Padding2);

        h1 {
            @include text(font.$Montserrat, font_size.$General, color.$White);
            text-align: center;
        }
    }

    .faqs-right {
        display: none;
    }

    .faqs-bottom {
        @include width_height(width_height.$w100, width_height.$vh60);
        @include padding(padding.$Padding1);
        padding-bottom: 50px;
    }

    .faqs-bottom-bottom {
        @include padding(padding.$Padding1);
    }
}