@use '../../../../assets/Scss/Utilities/Common/Colors'as color;

@use '../../../../assets/Scss/Utilities/Font_Properties/Fonts'as font;
@use '../../../../assets/Scss/Utilities/Font_Properties/Font_Sizes'as font_size;

@use '../../../../assets/Scss/Utilities/Width_Height/Width_Height'as width_height;

@use '../../../../assets/Scss/Utilities/Margin/Margin'as margin;
@use '../../../../assets/Scss/Utilities/Padding/Padding'as padding;

@use '../../../../assets/Scss/Utilities/Mixins/Mixins'as *;


.login {
    @include width_height(width_height.$w100, width_height.$vh100);
    background-color: color.$White;

    &-left {
        @include width_height(width_height.$w50, width_height.$vh100);
        background-color: color.$Inmersive_Blue_Black;

        h1 {
            @include text(font.$Montserrat, font_size.$Large, color.$White);
            text-align: center;
            letter-spacing: 0;
            padding: 0
        }

        a {
            @include text(font.$Montserrat, font_size.$Small, color.$White);
            text-decoration: none;
            text-align: center;
        }
    }

    &-right {
        @include width_height(width_height.$w50, width_height.$vh100);
        background-color: color.$White;
        background-image: url('/src/frontend/assets/images/jpg/Login.jpg');
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
    }

    @media only screen and (max-width: 600px) {
        .login-left {
            @include width_height(width_height.$w100, width_height.$vh100);
            overflow-x: hidden;

            h1 {
                @include text(font.$Montserrat, font_size.$Medium, color.$White);
                text-align: center;
                letter-spacing: 0;
                padding: 0
            }
        }

        .login-right {
            display: none;
        }
    }
}