@use '../Utilities/Font_Properties/Fonts'as font;
@use '../Utilities/Font_Properties/Font_Sizes'as font_size;
@use '../Utilities/Font_Properties/Font_Properties'as font_properties;

@use '../Utilities/Width_Height/Width_Height'as width_height;

@use '../Utilities/Common/Colors'as color;

@use '../Utilities/Mixins/Mixins'as *;

html {
    scroll-behavior: smooth;
    scroll-padding-top: 1em;
}

body {
    @include width_height(width_height.$vw100, width_height.$vh100);
    background-color: color.$White;
    overflow-x: hidden;
}

section {
    @include width_height(width_height.$w100, width_height.$vh100);
    background-color: transparent;
    overflow-x: hidden;
}

h1 {
    color: color.$Inmersive_Blue_Black;
}

label {
    @include text(font.$Montserrat, font_size.$Medium, color.$Inmersive_Blue_Black);
}

strong {
    font-weight: bolder;
    letter-spacing: 0;
}


.form-control {
    @include width_height(width_height.$w100, width_height.$vhauto);
    display: block;
    text-align: left;
    text-decoration: none;
    transition: .3s ease all;
    box-sizing: border-box;
    outline: none !important;
    border-radius: .5em;
    letter-spacing: 0;
    @include text(font.$Montserrat, 1em, color.$Inmersive_Blue_Black);
    font-weight: bolder;

    &:focus {
        box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px transparent;
        outline: 0 none;
        @include text(font.$Montserrat, 1em, color.$Inmersive_Blue_Black);
    }

    &:hover {
        &:focus {
            box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px transparent;
            outline: 0 none;
            @include text(font.$Montserrat, 1em, color.$Inmersive_Blue_Black);
        }
    }
}