@use '../../../../assets/Scss/Utilities/Common/Colors'as color;

@use '../../../../assets/Scss/Utilities/Font_Properties/Fonts'as font;
@use '../../../../assets/Scss/Utilities/Font_Properties/Font_Sizes'as font_size;
@use '../../../../assets/Scss/Utilities/Font_Properties/Font_Properties'as font_properties;

@use '../../../../assets/Scss/Utilities/Width_Height/Width_Height'as width_height;

@use '../../../../assets/Scss/Utilities/Mixins/Mixins'as *;

.navbar {
    @include width_height(width_height.$vw100, width_height.$h50);
    background-color: color.$Inmersive_Blue_Black !important;

    a {
        @include text(font.$Montserrat, font_size.$Medium, color.$White);
        text-decoration: none;

        &:hover {
            @include text(font.$Montserrat, font_size.$Medium, color.$White);
            text-decoration: none;
        }
    }

    .dropdown-menu {
        width: 12vw;
        height: auto;
        padding: 1em;
        background-color: color.$Inmersive_Blue_Black;
        text-align: center;
    }
}

@media only screen and (max-width: 600px) {
    .navbar {
        display: none;
    }
}