@use '../../../../assets/Scss/Utilities/Common/Colors'as color;

@use '../../../../assets/Scss/Utilities/Font_Properties/Fonts'as font;
@use '../../../../assets/Scss/Utilities/Font_Properties/Font_Sizes'as font_size;

@use '../../../../assets/Scss/Utilities/Width_Height/Width_Height'as width_height;

@use '../../../../assets/Scss/Utilities/Margin/Margin'as margin;
@use '../../../../assets/Scss/Utilities/Padding/Padding'as padding;

@use '../../../../assets/Scss/Utilities/Mixins/Mixins'as *;

.about-us-left {
    @include width_height(width_height.$w50, width_height.$vh100);
    background-color: color.$Inmersive_Blue_Black;
    @include padding(padding.$Padding1);
    overflow-x: hidden;

    h1 {
        @include text(font.$Montserrat, font_size.$Large, color.$White);
        font-weight: bold;
        letter-spacing: .4em;
    }

    p {
        @include text(font.$Montserrat, font_size.$Medium, color.$White);
        text-align: justify;
        font-weight: bolder;
        text-decoration: underline;
        line-height: 1em;
    }

}

.about-us-right {
    @include width_height(width_height.$w50, width_height.$vh100);
    background-image: url('/src/frontend/assets/images/jpg/About_Us.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    overflow-x: hidden;
}


.mision-left {
    @include width_height(width_height.$w50, width_height.$vh100);
    background-color: color.$Empowered_Yellow;

    h1 {
        @include text(font.$Montserrat, font_size.$Large, color.$Inmersive_Blue_Black);
        font-weight: bold;
        letter-spacing: .4em;
    }

    p {
        @include text(font.$Montserrat, font_size.$Medium, color.$Inmersive_Blue_Black);
        text-align: justify;
        font-weight: bolder;
        text-decoration: underline;
        line-height: 1em;
    }
}

.mision-right {
    @include width_height(width_height.$w50, width_height.$vh100);
    background-image: url('/src/frontend/assets/images/jpg/Mision.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.sponsors-left {
    @include width_height(width_height.$w50, width_height.$vh100);
    background-color: color.$Inmersive_Blue_Black;

    h1 {
        @include text(font.$Montserrat, font_size.$Extra_Large, color.$White);
        letter-spacing: .5em;
    }

    p {
        @include text(font.$Montserrat, font_size.$Large, color.$White);
    }
}

.sponsors-right {
    @include width_height(width_height.$w50, width_height.$vh100);

    &-inside-1 {
        @include width_height(width_height.$w50, width_height.$vh50);
        background-image: url("/src/frontend/assets/images/jpg/AVSI.jpg");
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;
    }

    &-inside-2 {
        @include width_height(width_height.$w50, width_height.$vh50);
        background-image: url("/src/frontend/assets/images/jpg/JAMEXICO.jpg");
        background-repeat: repeat;
        background-size: cover;
        background-position: center;
        background-color: color.$Inmersive_Blue_Black;
    }

    &-inside-3 {
        @include width_height(width_height.$w50, width_height.$vh50);
        background-image: url("/src/frontend/assets/images/jpg/UE.jpg");
        background-repeat: repeat;
        background-size: cover;
        background-position: center;
    }

    &-inside-4 {
        @include width_height(width_height.$w50, width_height.$vh50);
        background-color: color.$Empowered_Orange;
    }

}

.tools-left {
    @include width_height(width_height.$w50, width_height.$vh100);
    background-color: color.$Empowered_Orange;
    @include padding(padding.$Padding2);

    h1 {
        @include text(font.$Montserrat, font_size.$Extra_Large, color.$Inmersive_Blue_Black);
        font-weight: bolder;
        letter-spacing: .5em;
    }

    p {
        @include text(font.$Montserrat, font_size.$General, color.$Inmersive_Blue_Black);
        text-align: left;
    }
}

.tools-right {
    @include width_height(width_height.$w50, width_height.$vh50);
    @include padding(padding.$Padding2);
}

.faqs-left {
    @include width_height(width_height.$w50, width_height.$vh100);

    h1 {
        @include text(font.$Montserrat, font_size.$General, color.$White);
        letter-spacing: .5em;
    }
}

.faqs-right {
    @include width_height(width_height.$w50, width_height.$vh100);
    background-image: url('/src/frontend/assets/images/jpg/faqshome.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

@media only screen and (max-width: 600px) {

    .about-us-left {
        @include width_height(width_height.$w100, width_height.$vh100);
        background-color: color.$Inmersive_Blue_Black;
        @include padding(padding.$Padding1);
        overflow-x: hidden;

        h1 {
            @include text(font.$Montserrat, font_size.$General, color.$White);
            font-weight: bold;
            letter-spacing: 0;
        }

        p {
            @include text(font.$Montserrat, font_size.$Small, color.$White);
            text-align: left;
            font-weight: bolder;
            text-decoration: none;
            line-height: 4em;
            letter-spacing: .3em;
        }

    }

    .about-us-right {
        display: none;
    }

    .mision-left {
        display: none;
    }

    .mision-right {
        @include width_height(width_height.$w100, width_height.$vh100);
        background-image: url('/src/frontend/assets/images/jpg/Mision.jpg');
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        overflow: hidden;
    }

    .tools-left {
        @include width_height(width_height.$w100, width_height.$vh100);

        h1 {
            @include text(font.$Montserrat, font_size.$General, color.$Inmersive_Blue_Black);
            font-weight: bolder;
            letter-spacing: 0;
        }

        p {
            @include text(font.$Montserrat, 1.8em, color.$White);
            text-align: left;
            line-height: 2.5em;
        }
    }

    .tools-right {
        @include width_height(width_height.$w100, width_height.$vh100);
        margin-bottom: 2400px;
    }
}