@use '../../../../assets/Scss/Utilities/Common/Colors'as color;

@use '../../../../assets/Scss/Utilities/Font_Properties/Fonts'as font;
@use '../../../../assets/Scss/Utilities/Font_Properties/Font_Sizes'as font_size;

@use '../../../../assets/Scss/Utilities/Width_Height/Width_Height'as width_height;

@use '../../../../assets/Scss/Utilities/Margin/Margin'as margin;
@use '../../../../assets/Scss/Utilities/Padding/Padding'as padding;

@use '../../../../assets/Scss/Utilities/Mixins/Mixins'as *;

.mobile-nav {
    background: color.$Empowered_Yellow;
    bottom: 0;
    height: 70px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    border: color.$Inmersive_Blue_Black solid .2rem;
    border-left: none;
    border-right: none;
    border-bottom: none;
    z-index: 1;

    .bloc-icon {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: .5rem;

        img {
            width: 20px;
        }

        a {
            color: black;
            text-decoration: none;
        }
    }
}

.dropbtn {
    background-color: transparent;
    color: color.$Inmersive_Blue_Black;
    padding: 10px;
    font-size: 10px;
    border: none;
}

.dropup {
    position: relative;
    display: inline-block;
}

.dropup-content {
    display: none;
    position: absolute;
    bottom: 60px;
    left: -50px;
    background-color: #f1f1f1;
    color: black!important;
    min-width: 160px;

}

.dropup-content a {
    font-size: 8px;
    color: black !important;
    padding: 16px;
    display: block;
    z-index: 1;
}

.dropup-content a:hover {
    background-color: #dddd;
    color: black !important;
}

.dropup:hover .dropup-content {
    display: block;
    color: black !important;
}


@media only screen and (min-width: 600px) {
    .mobile-nav{
        display: none;
    }
}